@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

/*
Transparent white (paragraphs):
Very light gray (background, headings, buttons): 

font-family: "Lexend Deca", sans-serif;
font-family: "Big Shoulders Display", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$transparent: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 900px;
  margin: auto;
}

.card {
  padding: 3rem;
  h2 {
    margin: 30px 0;
    font-size: 40px;
    color: $light-gray;
    font-weight: 500;
  }

  p {
    color: $transparent;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-weight: 300;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    // background-color: $light-gray;

    &:hover {
      background-color: transparent;
      color: $light-gray !important;
      border: 1px solid $light-gray;
    }
  }

  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}
