@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

/*
Transparent white (paragraphs):
Very light gray (background, headings, buttons): 

font-family: "Lexend Deca", sans-serif;
font-family: "Big Shoulders Display", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$transparent: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

body {
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 900px;
  margin: auto;
}
